<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contact Us</title>
</head>
<body>
        <div>
            <nav>
                <div>
                    <p class="logo">WeTeach</p>
                </div>
                <div class="buy">
                    <ul  id="nav2">
                        <li><a href="#">Buy Now</a></li>
                        <li><a href="#">For Organization</a> </li>
                        <li><a href="#"> Contact Us</a></li>
                        <li><a href="#">Company</a></li>
                    </ul>
                </div>
                    <div class="sign-in" >
                        <ul id="login">
                            <button type="button" class="button-a">Sign in</button>
                            <button type="button" class="button-b">Get started</button>
                        </ul>
                    </div>
            </nav>
            <br>
            <div class="small-img"><img src="/Ellipse 272.png" alt=""></div>
            <div class="big-img"><img src="/Ellipse 265.png" alt=""></div>
            <br>

            <div >
                <p class="talk">Let's Talk</p>
                <p class="talk-2">We would love to get tour feedbacks as well as helping you in anyway we can</p>
            </div>
        </div>
</body>
</html>